Repository conversadocs/code-scan-docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-clippy, cargo-test, python-black, python-flake8, python-mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflicts
        stages: [pre-commit]

      - id: trailing-whitespace
        name: Remove trailing whitespace
        stages: [pre-commit]

      - id: end-of-file-fixer
        name: Fix end of files
        stages: [pre-commit]

      - id: check-yaml
        name: Check YAML syntax
        stages: [pre-commit]

      - id: check-toml
        name: Check TOML syntax
        stages: [pre-commit]

  - repo: local
    hooks:
      # Compilation check - fast way to catch errors
      - id: cargo-check
        name: Cargo check (compilation)
        entry: cargo check --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-commit]

      # Auto-format code (this FIXES issues, doesn't just check)
      - id: cargo-fmt
        name: Cargo format (auto-fix)
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-commit]

      # Linting - catches bugs and style issues
      - id: cargo-clippy
        name: Cargo clippy (linting)
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-commit]

      # Run tests locally
      - id: cargo-test
        name: Cargo test (unit tests)
        entry: cargo test --lib
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-commit]

      # Python code formatting (auto-fix)
      - id: python-black
        name: Python format (black auto-fix)
        entry: black
        language: system
        types: [python]
        args: [--line-length=88]
        stages: [pre-commit]

      # Python linting - catches bugs and style issues
      - id: python-flake8
        name: Python linting (flake8)
        entry: flake8
        language: system
        types: [python]
        args:
          - --max-line-length=88
          - '--extend-ignore=E203,W503,E402'
        stages: [pre-commit]

      # Python type checking
      - id: python-mypy
        name: Python type checking (mypy)
        entry: mypy
        language: system
        types: [python]
        args: [--ignore-missing-imports, --no-strict-optional]
        stages: [pre-commit]

      # Python plugin tests
      - id: python-tests
        name: Python plugin tests
        entry: pytest tests/python/ -v --tb=short
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.25.0
    hooks:
      - id: commitizen
        name: Commit message format
        stages: [commit-msg]

refactor: preparing for different plugin types
  plugins/input/python_analyzer.py
  plugins/input/rust_analyzer.py
  src/core/scanner.rs
  src/plugins/manager.rs
  tests/python/conftest.py
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, python-black, python-flake8, python-mypy

refactor: preparing for different plugin types (#12)
  plugins/input/python_analyzer.py
  plugins/input/rust_analyzer.py
  src/core/scanner.rs
  src/plugins/manager.rs
  tests/python/conftest.py
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, python-black, python-flake8, python-mypy

test: moving rust tests out of files
  src/cli/args.rs
  src/core/matrix.rs
  src/core/scanner.rs
  src/plugins/interface.rs
  src/utils/config.rs
  tests/integration.rs
  tests/rust/README.md
  tests/rust/cli/mod.rs
  tests/rust/cli/test_args.rs
  tests/rust/core/mod.rs
  tests/rust/core/test_matrix.rs
  tests/rust/core/test_scanner.rs
  tests/rust/mod.rs
  tests/rust/plugins/mod.rs
  tests/rust/plugins/test_interface.rs
  tests/rust/utils/mod.rs
  tests/rust/utils/test_config.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

ci: updating pre-commit and quality-gate
  .github/workflows/assignment.yaml
  .github/workflows/quality-gate.yaml
  .pre-commit-config.yaml
Due: none

test: moving rust tests out of files (#14)
  .github/workflows/assignment.yaml
  .github/workflows/quality-gate.yaml
  .pre-commit-config.yaml
  src/cli/args.rs
  src/core/matrix.rs
  src/core/scanner.rs
  src/plugins/interface.rs
  src/utils/config.rs
  tests/integration.rs
  tests/rust/README.md
  tests/rust/cli/mod.rs
  tests/rust/cli/test_args.rs
  tests/rust/core/mod.rs
  tests/rust/core/test_matrix.rs
  tests/rust/core/test_scanner.rs
  tests/rust/mod.rs
  tests/rust/plugins/mod.rs
  tests/rust/plugins/test_interface.rs
  tests/rust/utils/mod.rs
  tests/rust/utils/test_config.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

feat: allowing for output plugins
  .csdrc.yaml
  plugins/output/markdown_docs.py
  plugins/shared/__init__.py
  plugins/shared/base_analyzer.py
  plugins/shared/base_output.py
  src/cli/commands.rs
  src/core/scanner.rs
  src/plugins/communication.rs
  src/plugins/interface.rs
  src/plugins/manager.rs
  src/utils/config.rs
  tests/python/test_base_analyzer.py
  tests/rust/core/test_scanner.rs
  tests/rust/plugins/test_interface.rs
  tests/rust/utils/test_config.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, python-black, python-flake8, python-mypy

feat: allowing for output plugins (#15)
  .csdrc.yaml
  plugins/output/markdown_docs.py
  plugins/shared/__init__.py
  plugins/shared/base_analyzer.py
  plugins/shared/base_output.py
  src/cli/commands.rs
  src/core/scanner.rs
  src/plugins/communication.rs
  src/plugins/interface.rs
  src/plugins/manager.rs
  src/utils/config.rs
  tests/python/test_base_analyzer.py
  tests/rust/core/test_scanner.rs
  tests/rust/plugins/test_interface.rs
  tests/rust/utils/test_config.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, python-black, python-flake8, python-mypy

refactor: renaming scan command to init
  src/cli/args.rs
  src/cli/commands.rs
  tests/rust/cli/test_args.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

refactor: renaming scan command to init (#16)
  src/cli/args.rs
  src/cli/commands.rs
  tests/rust/cli/test_args.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

feat: adding markdown output with llm
  .csdrc.yaml
  .gitignore
  README.md
  plugins/output/markdown_docs.py
  plugins/shared/llm_utils.py
  pyproject.toml
  src/plugins/communication.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, python-black, python-flake8, python-mypy

feat: adding markdown output with llm (#17)
  .csdrc.yaml
  .gitignore
  README.md
  plugins/output/markdown_docs.py
  plugins/shared/llm_utils.py
  pyproject.toml
  src/plugins/communication.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, python-black, python-flake8, python-mypy

build: setting up plugin sdk module
  .csdrc.yaml
  .gitignore
  plugins/input/code/python_analyzer.py
  plugins/input/code/rust_analyzer.py
  plugins/output/docs/markdown_docs.py
  plugins/shared/__init__.py
  plugins/shared/python/README.md
  plugins/shared/python/csd_plugin_sdk/__init__.py
  plugins/shared/python/csd_plugin_sdk/_version.py
  plugins/shared/python/csd_plugin_sdk/base/__init__.py
  plugins/shared/python/csd_plugin_sdk/base/input.py
  plugins/shared/python/csd_plugin_sdk/base/output.py
  plugins/shared/python/csd_plugin_sdk/utils/__init__.py
  plugins/shared/python/csd_plugin_sdk/utils/llm.py
  plugins/shared/python/requirements.txt
  plugins/shared/python/setup.py
  plugins/shared/utils.py
  pyproject.toml
  src/core/scanner.rs
  src/plugins/manager.rs
  tests/python/conftest.py
  tests/python/requirements.txt
  tests/python/test_base_analyzer.py
  tests/python/test_python_analyzer.py
  tests/python/test_rust_analyzer.py
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, python-black, python-flake8, python-mypy

ci: fixing python test setup
  .github/workflows/quality-gate.yaml
Due: none

build: setting up plugin sdk module (#19)
  .csdrc.yaml
  .github/workflows/quality-gate.yaml
  .gitignore
  plugins/input/code/python_analyzer.py
  plugins/input/code/rust_analyzer.py
  plugins/output/docs/markdown_docs.py
  plugins/shared/__init__.py
  plugins/shared/python/README.md
  plugins/shared/python/csd_plugin_sdk/__init__.py
  plugins/shared/python/csd_plugin_sdk/_version.py
  plugins/shared/python/csd_plugin_sdk/base/__init__.py
  plugins/shared/python/csd_plugin_sdk/base/input.py
  plugins/shared/python/csd_plugin_sdk/base/output.py
  plugins/shared/python/csd_plugin_sdk/utils/__init__.py
  plugins/shared/python/csd_plugin_sdk/utils/llm.py
  plugins/shared/python/requirements.txt
  plugins/shared/python/setup.py
  plugins/shared/utils.py
  pyproject.toml
  src/core/scanner.rs
  src/plugins/manager.rs
  tests/python/conftest.py
  tests/python/requirements.txt
  tests/python/test_base_analyzer.py
  tests/python/test_python_analyzer.py
  tests/python/test_rust_analyzer.py
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, python-black, python-flake8, python-mypy

fix: adding plugin types to config
  .csdrc.yaml
  plugins/input/code/python_analyzer.py
  plugins/input/code/rust_analyzer.py
  plugins/shared/python/csd_plugin_sdk/base/input.py
  plugins/shared/python/csd_plugin_sdk/base/output.py
  plugins/shared/python/csd_plugin_sdk/utils/llm.py
  pyproject.toml
  src/cli/commands.rs
  src/core/scanner.rs
  src/plugins/manager.rs
  src/utils/config.rs
  tests/rust/core/test_scanner.rs
  tests/rust/utils/test_config.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, python-black, python-flake8, python-mypy

fix: adding plugin types to config (#20)
  .csdrc.yaml
  plugins/input/code/python_analyzer.py
  plugins/input/code/rust_analyzer.py
  plugins/shared/python/csd_plugin_sdk/base/input.py
  plugins/shared/python/csd_plugin_sdk/base/output.py
  plugins/shared/python/csd_plugin_sdk/utils/llm.py
  pyproject.toml
  src/cli/commands.rs
  src/core/scanner.rs
  src/plugins/manager.rs
  src/utils/config.rs
  tests/rust/core/test_scanner.rs
  tests/rust/utils/test_config.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, python-black, python-flake8, python-mypy

feat: adding more context to the matrix
  plugins/input/code/python_analyzer.py
  plugins/shared/python/csd_plugin_sdk/base/input.py
  src/core/matrix.rs
  src/core/scanner.rs
  src/plugins/interface.rs
  tests/python/test_python_analyzer.py
  tests/rust/core/test_matrix.rs
  tests/rust/plugins/test_interface.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, python-black, python-flake8, python-mypy

feat: adding more context to the matrix (#22)
  plugins/input/code/python_analyzer.py
  plugins/shared/python/csd_plugin_sdk/base/input.py
  src/core/matrix.rs
  src/core/scanner.rs
  src/plugins/interface.rs
  tests/python/test_python_analyzer.py
  tests/rust/core/test_matrix.rs
  tests/rust/plugins/test_interface.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, python-black, python-flake8, python-mypy

fix: adjusting the rust analyzer for new token features
  plugins/input/code/rust_analyzer.py
  tests/python/test_rust_analyzer.py
Due: python-black, python-flake8, python-mypy

fix: adjusting the rust analyzer for new token features (#25)
  plugins/input/code/rust_analyzer.py
  tests/python/test_rust_analyzer.py
Due: python-black, python-flake8, python-mypy
